* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    flex-direction: column;
}

h2 {
    margin: 20px;
    text-align: center;
    border-bottom: #000 solid 2px;
    padding-bottom: 4px;
}

.input,
button {
    all: unset;
    border: 1px solid #000;
    padding: 10px 10px;
    border-radius: 10px;
}

button {
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    /* transition: all 0.5s; */
    border: none;
    background-color: #000;
    color: #fff;
}

ul {
    list-style-type: none;
    /* padding: 20px; */
    position: relative;
}

ul>li {
    padding: 10px;
    border: 1px solid;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.closedBtn {
        position: absolute;
    right: 25px;
    display: none;
}
ul> li:hover > .closedBtn{
    display: inline-block;
}

ul>li>span>i {
    /* text-align: center; */

    color: #000;
    /* padding: 20px; */
}
ul >li > .closedBtn:hover > i {
    color: red;
    /* text-decoration: ; */
}


/* fieldset {
    all: unset;
    border: 1px solid #000;
    width: 300px; 
    height: 50px;
    position: relative;
}

fieldset > legend {
}

fieldset > input {
    all: unset;
    position: absolute;
    top: 5px;
    left: 10px;

} */

.done {
    text-decoration: line-through;
    opacity: 0.5;
}